html {
  background-color: #c9b5ab;
  font-weight: normal;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

h1 {
  font-size: 1.5rem;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-weight: bold;
}

nav {
  font-size: 1.125rem;
}

nav ol {
  list-style-type: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.facts {
  font-weight: bold;
}

blockquote {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}

blockquote cite {
  font-size: .8rem;
}

h2 + ol {
  list-style-type: lower-greek;
}

.serve {
  font-style: italic;
}

.serve li {
  list-style-type: none;
}

dt {
  font-weight: bold;
}

#tags + ul {
  list-style-type: circle;
}
